
  <form action="/login" method="post" class = "login">

    <fieldset class="login">
      <legend>Log In</legend>

      <input type="text"   name="user[username]"  id = "username" placeholder = "Username"><br>
      
      <input type="password"   name="user[password]"  id = "password" placeholder = "Password"><br>
      
      <input type="submit" name="login" value = "Log On!" id="login">

    </fieldset>
  </form>
