
  <form action="/signup" method="post" class = "signup">

    <fieldset class="signup">
      <legend>Sign Up</legend>
      <input type="text"   name="user[username]" id = "name" placeholder = "Name" /><br>

      <input type="text"   name="user[email]"  id = "email" placeholder = "Email"><br>
      
      <input type="password"   name="user[password]"  id = "password" placeholder = "Password">
      <br>
      
      <input type="submit" name="signup" value = "Sign Up!" id="signup">

    </fieldset>
  </form>
