<nav>
  <span id="logo"><a href = "/">Survey Slug</a></span>
  <ul>

    <li><a href = "/browse">Browse Surveys</a></li>
    <% if current_user %>
      <li><a href = "/survey/create">Create Survey</a></li>
      <li><a href = "/profile">Your Profile</a></li>
      <li><a href = "/logout">Log Out</a></li>
    <% else %>
      <li class="login_button"><a href = "/login" class = "login">Log In</a>
        <%= erb :_login_form, :layout => false %></li>

    <% end %>


  </ul>
      
</nav>
