<script type="text/javascript" src = "/js/authorization.js"></script>

  <h1>Your one-stop survey repository.</h1>
  
  <div class = "splash_info">
  <h2>Why Survey Slug?</h2>
    <li>Bug-free Surveys</li><br>
    <li>Unlimited Question Limit</li><br>
    <li>Deep Analytics</li><br>
    <li>Answers to everything, from everyone. Seriously.</li><br>
    <li><a href="/browse">Browse now</a> or sign up over here --></li>
  </div>

    <%= erb :_signup_form, :layout => false %>
