

<div class = "content">
  <h1>Reliable Surveys ASAP!</h1>
  
  <div class = "splash_info">
    <li>Bug-free surveys</li>
    <li>Great color scheme</li>
    <li>Survey analytics</li>
    <li>Answers to everything. Seriously.</li>
  </div>

    <%= erb :_signup_form, :layout => false %>

</div>
