<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">


  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src = "/js/login.js"></script>
  <script type="text/javascript" src = "/js/app.js"></script>

  
  <link href='http://fonts.googleapis.com/css?family=Lemon|Merriweather+Sans:400,700|Lobster' rel='stylesheet' type='text/css'>
 
  <title>Survey Slug || Solid, Secure, Serious Survey Site</title>
</head>
  <body>
    <div class = "container">
    <header>
  
      <%= erb :_top_nav %>

    </header>
    <div class="content">

      <%= yield %>
    </div>
  </div>
  </body>
</html>
